@font-face {
  font-family: Roboto Light;
  src: url(../assets/fonts/roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto Regular;
  src: url(../assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto Bold;
  src: url(../assets/fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto Thin;
  src: url(../assets/fonts/roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto Medium;
  src: url(../assets/fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Bebas Neue;
  src: url(../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: Permanent Marker;
  src: url(../assets/fonts/Permanent_Marker/PermanentMarker-Regular.ttf);
}

$main: #96CEB4;
$secondary: #D9534F;
$bg: #fffbd2; 

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fffbd2;
  min-height: 100vh;
  font-family: inherit;
}

main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px);
}

.main-nav {
  display: flex;
  column-gap: 20px;
}

.title {
  font-size: 24px;
  line-height: 28px;
}

.avatar {
  padding: 0;
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
  align-self: flex-start;
}

.footer {
  width: 100%;
  min-height: 64px;
  padding: 10px 20px;
  background-color: $main;
  display: flex; 
  align-self: flex-end;
  align-items: center;
  box-shadow: 0px -2px 4px -1px rgb(0 0 0 / 20%), 0px -4px 5px 0px rgb(0 0 0 / 14%), 0px -1px 10px 0px rgb(0 0 0 / 12%);
}

.rs-link {
  transition: all .3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}
.creaters {
  display: flex;
  align-items: center;
  column-gap: 10px;
}